[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
mypy = "*"
pylint = "*"
pylint-gitlab = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"
numpy = "*"
pymysql = "*"
pwinput = "*"
cryptography = "*"
requests = "*"
types-requests = "*"
tabulate = "*"
types-tabulate = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
